<ul>
  <% @articles.each do |article| %>
      <li>
        <%= link_to article.title, post_path(article)%><br />
      <li>
        <%= article.content %><br />
      </li>
      </li>
  <% end %>
</ul>

<%= link_to "Add Post" , new_post_path %>